<section class="seccion seccion-alterna" id="indice-categorias">
  <div class="container">
    <div class="seccion-header justify-content-center">
      <h2>Nuestras Categorías</h2>
    </div>
    <!-- Tarjetas de categorias -->
    <div class="row g-4 mt-2">
      @for (nombreCat of nombresCategorias(); track nombreCat) {
      <div class="col-12 col-sm-6 col-lg-3">
        <a [routerLink]="[]" [fragment]="getId(nombreCat)" class="enlace-categoria">
          <article class="tarjeta tarjeta-categoria">
            <img [src]="'/img/' + getImg(nombreCat)" [alt]="nombreCat">
            <div class="tarjeta-contenido justify-content-center">
              <h3>{{ nombreCat }}</h3>
            </div>
          </article>
        </a>
      </div>
      }
    </div>
  </div>
</section>

<!-- Tarjetas de inventario -->
@for (cat of nombresCategorias(); track cat) {
<section class="seccion py-5" [id]="getId(cat)">
  <div class="container">
    <div class="seccion-header">
      <h2>{{ cat }}</h2>
    </div>
    <div class="row g-4 mt-3">
      @for (juego of juegosPorCategoria(cat); track juego.id) {
      <div class="col-12 col-md-6 col-lg-4">
        <article class="tarjeta">
          <img [src]="juego.img" [alt]="juego.nombre">
          <div class="tarjeta-contenido">
            <h3>{{ juego.nombre }}</h3>
            <p class="descripcion">{{ juego.desc }}</p>
            <div class="precio-contenedor">
              <p class="precio">{{ juego.precio }}</p>

              <p class="small fw-bold" [ngClass]="juego.stock === 1 ? 'text-warning' : 'text-danger'">
                @if (juego.stock <= 0) { Sin stock } @else if (juego.stock===1) { ¡Última unidad! } @else { Stock: {{
                  juego.stock }} } </p>

                  @if (juego.stock > 0 && !authService.esAdmin()) {
                  <button class="btn btn-outline-success btn-sm" (click)="agregarAlCarrito(juego)">
                    Comprar
                  </button>
                  }

                  <p [class]="juego.tieneDescuento ? 'descuento' : 'sin-descuento'">
                    {{ juego.textoDescuento }}
                  </p>
            </div>
          </div>
        </article>
      </div>
      }
    </div>
  </div>
</section>
}